body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slider {
  width: 100%;
  height: 460px;
  position: relative;
  margin: auto;
  overflow-x: scroll;
  overflow-y: hidden;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider .slide {
  display: flex;
  position: absolute;
  left: 0;
  transition: 0.3s left ease-in-out;
}

.slider .item {
  margin-right: 30px;
}

.slider .item:last-child {
  margin-right: 0;
}

.ctrl {
  text-align: center;
  margin-top: 5px;
}

.ctrl-btn {
  padding: 10px;
 
  background: transparent;
  color: rgb(95, 94, 94);
  border: none;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
  outline: none;

  position: absolute;
  top: 45%;
  margin-top: -27.5px;

}

.ctrl-btn.pro-prev {
  left: 0;
  font-size: 40px;
}

.ctrl-btn.pro-next {
  right: 0;
  font-size: 40px;
}
.product-item {
  margin-right: 10px; 
}
